/* Общий контейнер */
.container {
  padding: 30px;
}

/* Стиль для карточки */
mat-card {
  margin-top: 20px;
}

/* Стиль для заголовков таблицы */
th {
  background-color: #3498db; /* Цвет фона */
  color: #ffffff; /* Цвет текста */
  padding: 10px; /* Внутренний отступ */
}

/* Стиль для ячеек таблицы */
td {
  padding: 10px; /* Внутренний отступ */
}

/* Стиль для четных строк таблицы */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Цвет фона */
}
