<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Магазин пчеловода</span>
    <span class="spacer"></span>
<!--
    <button mat-button routerLink="/order" routerLinkActive="active">Track Order</button>
-->
    <button mat-button routerLink="/signup" routerLinkActive="active">Регистация</button>
    <button mat-button routerLink="/signin" routerLinkActive="active">Войти</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Магазин пчеловода</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Главная</button>
<!--
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Аналитика</button>
-->
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Категори</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Товар</button>
<!--
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Заказы</button>
-->
    <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Купон</button>
    <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Купоны</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Выйти</button>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Магазин пчеловода</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Главная</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Корзина</button>
    <!--<button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Заказы</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Список желаний</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Профиль</button>-->
    <button mat-button routerLinkActive="active" (click)="logout()">Выйти</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
